$border-color: #c7c7c7;
$header-loggin-bgcolor: #001529;
$header-notloggin-bgcolor: #001529;
$header-border-bottom-color: royalblue;
$header-text-color: #c7c7c7;
$current-text-hover-color: white;
$current-text-hover-bgcolor: #001529;

/*** Blue ***/
$blue: #005beb;
$pastel-blue: #6fa2f3;
$royal-blue: #327bef;

/*** Grey ***/
$chocolate: #595959;
$dark-grey: #949494;
$grey: #c7c7c7;
$light-grey: #D3D3D3;
$soft-grey: #556270;

/*** Red ***/
$red: #ff4c4c;

/*** White ***/
$smoke-white: #f5f5f5;
$white: white;

/*** Black ***/
$black: black;
